body {
  font-family: "Arial", sans-serif;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-form,
.weather-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 1.2em;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 35px; /* Adjusted padding to fit the icon */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s;
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

.input-container input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  background-color: #00796b;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-btn i {
  margin-right: 8px;
}

.submit-btn:hover {
  background-color: #2baa9b;
  box-shadow: 0 4px 12px rgba(0, 91, 187, 0.4);
}

.weather-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #00796b;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.weather-description {
  font-size: 1.2em;
  color: #555;
  text-transform: capitalize;
}

.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.weather-info div {
  background-color: #f1f8e9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-info div i {
  margin-bottom: 10px;
  color: #00796b;
  font-size: 2em;
}

.weather-info div p {
  margin: 0;
  font-size: 1.1em;
  color: #333;
}

.weather-info div .value {
  font-size: 1.4em;
  font-weight: bold;
  color: #00796b;
}

.weather-container a {
  color: white;
  text-decoration: none;
}
